@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = User.IsInRole("Administrator");
}

<nav class="navbar navbar-expand-lg mb-auto rounded-2" style="background-color: #e3f2fd;" w-100>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dashboardNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dashboardNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Relatórios -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Report
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Export to PDF</a></li>
                        <li><a class="dropdown-item" href="#">Export to CSV</a></li>
                    </ul>
                </li>

                <!-- Gerenciar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="gerenciarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Management
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gerenciarDropdown">
                        <li><a class="dropdown-item" href="@Url.Action("Create", "Users")">New User</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Users")">List Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="javascript:void(0);" id="btnGerarExe"
                               title="Generates an executable for inventory registration">Download Program
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Arquivo -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Print</a>
                </li>

            </ul>
            <span class="navbar-text">
                Company: @user.Company | Role: @(isAdmin ? "Administrator" : "Read Only")
            </span>
        </div>
    </div>
</nav>

